body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 70px; /* Hauteur de l'en-tête fixe */
    padding-bottom: 60px; /* Hauteur du footer fixe */
}
html {
    position: relative;
    min-height: 100%;
}
.container {
    width: 80%;
    margin: auto;
    padding: 0;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}
header, .footer {
    position: fixed;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    z-index: 1000; /* s'assurer qu'ils restent au-dessus des autres éléments */
}

header {
    top: 0;
    padding: 15px 0; /* Ajuste ceci selon l'épaisseur de ton en-tête */
}
header h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
.content {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.content h2, .content h3 {
    color: #333;
}
.content p, .content ul {
    line-height: 1.6;
}
.content img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
.footer {
    bottom: 0;
    height: 60px; /* Hauteur de ton footer */
    line-height: 60px; /* Centre le texte verticalement */
}
.logo {
    width: 300px;
    display: block;
    margin: 0 auto; 
}
.content-with-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-content {
    max-width: 60%;
}
