<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aide</title>
    <link rel="stylesheet" href="/css/styleHome.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenue sur la page d'aide de CV24</h1>
        </div>
    </header>

    <div class="container content">
        <section>
            <h2>Liste des opérations</h2>
            <div class="api-operation">
                <h3>Page d'acceuil</h3>
                <p><strong>URL:</strong> /</p>
                <p><strong>Méthode:</strong> GET</p>
                <p><strong>Résumé:</strong> Cette opération permet d'accéder à la page d'acceuil</p>
            </div>
            <div class="api-operation">
                <h3>Aide</h3>
                <p><strong>URL:</strong> /help</p>
                <p><strong>Méthode:</strong> GET</p>
                <p><strong>Résumé:</strong> Cette opération permet d'accéder à la page d'aide</p>
            </div>
            <div class="api-operation">
                <h3>Aide</h3>
                <p><strong>URL:</strong> /cv24/resume/xml</p>
                <p><strong>Méthode:</strong> GET</p>
                <p><strong>Résumé:</strong> Cette opération permet d'afficher la liste des CV stockés</p>
            </div>
            
        </section>
    </div>

    <div class="footer">
         Abdelkrim SAIDOUN @ Université de Rouen
    </div>
</body>
</html>
